body {
    background-color: rgb(180, 199, 220);   
}

.center{
    position: absolute;
    left: 15%;
    right: 15%;
    top: 20%;
    width: 70%;
    height: 80%;
    z-index: -1;
}

#grid-container {
    text-align: center;
    display: grid;
    grid-column-gap: 2.5%;
    grid-template-columns: 30% 35% 30%;
    color: rgb(97, 136, 184);
}

#grid-prethodnaAktivnost {
    border: 0.2vw solid rgb(97, 136, 184);
    border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
    width: 100%;
    height: 25vw;
    margin-top: 25%;
}

#grid-trenutnaAktivnost {
    border: 0.2vw solid rgb(97, 136, 184);
    border-radius: 1vw 1vw 1vw 1vw;
    width: 100%;
    height: 30vw
}

#grid-sljedecaAktivnost {
    border: 0.2vw solid rgb(97, 136, 184);
    border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
    width: 100%;
    height: 25vw;
    margin-top: 25%;
}

.text{
    font-weight: normal;
    font-size: 1.6vw;
}

.text-predmet {
    font-weight: bold;
    font-size: 2.3vw;
}

#h3-prethodna {
    font-size: 1.8vw;
    font-weight: normal;
    width: 70%;
    margin-top: -6%;
    margin-left: 15%;
    background:rgb(180, 199, 220);
}

#h3-trenutna {
    font-size: 1.8vw;
    font-weight: normal;
    width: 60%;
    margin-top:-5%;
    margin-left: 20%;
    background:rgb(180, 199, 220);
}

#h3-sljedeca {
    font-size: 1.8vw;
    font-weight: normal;
    width: 65%;
    margin-top: -6%;
    margin-left: 17.5% ;
    background:rgb(180, 199, 220);
}

.navbar {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0 ;
    width: 100%;
    overflow: hidden;
    background-color: #333; 
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: blue;
    color: black;
}

a.active {
    background-color: lightblue;
    color: white;
}

@media (max-width: 600px) {
    
    .center{
        position: absolute;
        left: 25%;
        right: 25%;
        top: 30%;
        width: 50%;
        height: 70%;
        z-index: -1;
    }

    #grid-container {
        text-align: center;
        display: block;
        width: 100%;
        color: rgb(97, 136, 184);
    }

    #grid-prethodnaAktivnost {
        display: none;
    }

    #grid-trenutnaAktivnost {
        border: 0.5vw solid rgb(97, 136, 184);
        border-radius: 2vw 2vw 2vw 2vw;
        width: 100%;
        height: 40vw
    }

    #grid-sljedecaAktivnost {
        border: 0.5vw solid rgb(97, 136, 184);
        border-radius: 2vw 2vw 2vw 2vw;
        width: 100%;
        height: 40vw
    }

    .text{
        font-weight: normal;
        font-size: 2.3vw;
    }
    
    .text-predmet {
        font-weight: bold;
        font-size: 3vw;
    }

    #h3-trenutna {
        font-size: 2.5vw;
        font-weight: normal;
        width: 40%;
        margin-top: -3%;
        margin-left: 30%;
        background:rgb(180, 199, 220);
    }
    
    #h3-sljedeca {
        font-size: 2.5vw;
        font-weight: normal;
        width: 40%;
        margin-top: -3%;
        margin-left: 30% ;
        background:rgb(180, 199, 220);
    }

    .navbar a {
        font-size: 14px;
    }

}