.center{
    position: absolute;
    left: 35%;
    right: 35%;
    top: 33%;
    height: 55%;
    width: 30%;
    z-index: -1;
}

.grid-red {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    width: 100%;
    row-gap: 4%;
}

.grid-kolona {   
    display: grid;
    grid-template-columns: 50% 50%;    
}

.navbar {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0 ;
    width: 100%;
    overflow: hidden;
    background-color: #333; 
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: blue;
    color: black;
}

a.active {
    background-color: lightblue;
    color: white;
}

@media (max-width: 600px) {
    
    .center{
        left: 20%;
        right: 20%;
        top: 25%;
        height: 55%;
        width: 60%;
        z-index: -1;
    }

    .grid-red {
        display: grid;
        grid-template-rows: repeat(10);
        width: 100%;
        row-gap: 3%;
    }

    .grid-kolona {
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
    }

    .navbar a {
        font-size: 14px;
    }

}