table{
    display: table;
    border-collapse: collapse;  
    position: absolute;
    left: 35%;
    top: 35%;
    bottom: 15%;
    right: 35%;
    width: 30%;
    z-index: -1;     
}

tr:hover {
    border: 2px solid black;
}

td{
    border: 1px solid black;
    width: 30%;
    padding: 2%;
    text-align: center;
}

.navbar {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0 ;
    width: 100%;
    overflow: hidden;
    background-color: #333; 
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: blue;
    color: black;
}

a.active {
    background-color: lightblue;
    color: white;
}

@media (max-width: 600px) {

    .navbar a {
        font-size: 14px;
    }
    
}