table {
    display: table; 
    border-collapse: collapse;    
    margin-left: 6%;
    width: 86.4%;
    z-index: -1;
}

#okvir {
   text-align: center;
}

#okvir2 {
    text-align: center;
}

#okvir3 {
    text-align: center;
}

#okvir4 {
    text-align: center;
}

#okvir5 {
    text-align: center;
}

#okvir6 {
    text-align: center;
}

#okvir7 {
    text-align: center;
}

td {
    width: 1.6%;
    height: 70px;
    background-color: lightgray;
}

.td-sati {
    background-color: white;
    vertical-align: bottom;
    text-align: center;
    font-size: 1.15vw;
    height: 0;
}

.td-dani { 
    background-color: white;
    text-align: right;
}

.td-slobodanD{
    border: 0.5px solid black;
    border-right: 0.5px dashed black;
}

.td-slobodanL{
    border: 0.5px solid black;
    border-left: 0.5px dashed black;
}

.td-zauzeto{
    text-align: center;
    font-size: 1.25vw;
}

.navbar {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0 ;
    width: 100%;
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: blue;
    color: black;
}

a.active {
    background-color: lightblue;
    color: white;
}

@media (max-width: 600px) {
    
    table {
        margin-left: 35%;
        width: 30%;
        z-index: -1;  
    }

    .td-sati {
        display: none;
    }
    
    .td-slobodanD{
        display: none;
    }
    
    .td-slobodanL{
        display: none;  
    }
    
    .td-dani {
        display: block; 
        text-align: center;
        width: 100%;
        height: 25px;    
        padding-top: 25px;   
    }

    .td-zauzeto{ 
        display: block;
        border: 0.5px solid black;
        padding-top: 25px;
        font-size: 10px; 
        width: 100%;
    }

    .navbar a {
        font-size: 14px;
    }
}