table {
    display: table; 
    border-collapse: collapse;  
    width: 100%;  
}

.td-index {
    border: 0.5px solid black;
    width: 10%;
}

.td-celija {
    border: 0.5px solid black;
}

.td-celija2 {
    border: 0.5px solid black;
    width: 18%;
}

#grid-stranica{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    padding-top: 4%;
    z-index: -1;
}
#grid-red {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    width: 100%;
    row-gap: 4%;
}

.grid-kolona {   
    display: grid;
    grid-template-columns: 50% 50%;    
}

.navbar {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0 ;
    width: 100%;
    overflow: hidden;
    background-color: #333; 
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: blue;
    color: black;
}

a.active {
    background-color: lightblue;
    color: white;
}

@media (max-width: 600px) {

    .grid-red {
        display: grid;
        grid-template-rows: repeat(10);
        width: 100%;
        row-gap: 3%;
    }

    .grid-kolona {
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
    }

    .navbar a {
        font-size: 14px;
    }

}